<% @categories.each do |category| %>
  <div class = "col-md-4">
    <div class="category">
      <%= link_to image_tag(category.id.to_s+'.jpg', height: "200px"), subcategories_path(category.id) %><br/>
      <h2><span><%= link_to category.name, subcategories_path(category.id) %></span></h2>
      </div>
  </div>
<% end %>