<p>Welcome <%= @email %>!</p>

<p>Kérjük erősítsd meg e-mail címed az alábbi linkre kattintva:</p>

<p><%= link_to 'E-mail cím megerősítése', confirmation_url(@resource, confirmation_token: @token) %></p>
