<p>Hello <%= @resource.email %>!</p>

<p>Valaki kérelmezte a jelszavad megváltoztatását. Ezt megteheted az alábbi linken:</p>

<p><%= link_to 'Jelszó megváltoztatása', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Ha nem te kérted a jelszó módosítást, kérünk hagyd figyelmen kívül ezt az e-mailt.</p>
